/* Formulario.css */
.formulario-container {
    background-color: #ffe0f0;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  h1 {
    color: #ff69b4;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #ff69b4;
    color: #ff69b4;
  }
  
  .submit-button {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #ff1493;
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .barbie-header-image {
    width: 100%;       /* Ajusta al 100% del contenedor */
    max-width: 300px;  /* Ajusta este tamaño según prefieras */
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y añade espacio debajo */
  }
  